/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/views/OverBookedFlight/BeAware/BeAware.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.BeAware_services__vpl_5 {
  padding: 50px 0;
}

.BeAware_image__2Dv9c {
  width: 365px;
  height: 292px;
  position: relative;
}

.BeAware_mainDiv__DlKES {
  margin-top: 30px;
  width: 100%;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.0509803922);
  border-radius: 5px;
}

.BeAware_header__iio9w {
  font-weight: 700;
  background-color: #0D6693;
  color: #ffffff;
  padding: 20px;
  margin: 0 0 15px 0;
  border-radius: 9px 9px 0 0;
  text-align: start;
  font-size: 20px;
}

.BeAware_item__ZAzb7 {
  padding: 0px 20px 70px 20px;
}

.BeAware_item__ZAzb7 h4 {
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  margin: 0;
  cursor: default;
}

.BeAware_item__ZAzb7 p {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #4b4b4b;
  margin: 0;
  cursor: default;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/components/SectionTextAndCover/SectionTextAndCover.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.SectionTextAndCover_cover__RE3RW {
  width: 100%;
  max-height: unset;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 991px) {
  .SectionTextAndCover_cover__RE3RW {
    max-height: 200px;
  }
}
.SectionTextAndCover_cover__img__bH5Aq {
  max-width: 100%;
  max-height: unset;
}
@media (max-width: 991px) {
  .SectionTextAndCover_cover__img__bH5Aq {
    max-height: 200px;
  }
}

.SectionTextAndCover_text__cdFKs {
  width: 100%;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.0509803922);
  border-radius: 5px;
  height: max-content;
}
.SectionTextAndCover_text__title__3DmAg {
  font-weight: 700;
  background-color: #0D6693;
  color: #ffffff;
  padding: 20px;
  margin: 0;
  border-radius: 9px 9px 0 0;
  text-align: center;
  font-size: 20px;
}
.SectionTextAndCover_text__body__u7KJD {
  padding: 20px;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/views/OverBookedFlight/CompensationEU/CompensationEU.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.CompensationEU_services__kVzVd {
  padding: 120px 0;
  width: 100%;
  background-color: #F8FAFD;
}

.CompensationEU_headerOfBullet__PHhJG {
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  color: #000000;
  text-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  cursor: default;
}

.CompensationEU_table__lEhji {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 9px 9px 0 0;
  overflow: hidden;
  text-align: start;
  border: 1px solid #6E7491;
  cursor: default;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.0901960784);
}

.CompensationEU_header__9SpA8 {
  background-color: #0d6693;
  color: #ffffff;
  font-weight: 600;
  padding: 15px 23px 20px 8px;
  border-top: 1px solid #6E7491;
}

.CompensationEU_headerLg__A1xjB {
  background-color: #0d6693;
  color: #ffffff;
  font-weight: 600;
  padding: 15px 23px 20px 8px;
  margin-left: 30px;
  border: 1px solid #6E7491;
}

.CompensationEU_cell__0VbBz {
  padding: 13px 20px 13px 8px;
  border: 1px solid #6E7491;
  background-color: #ffffff;
  color: #717171;
}

.CompensationEU_cellLast__1dfM_ {
  padding: 13px 28px 20px 8px;
  border: 1px solid #6E7491;
  background-color: #ffffff;
  color: #717171;
}

.CompensationEU_table__lEhji tr:hover {
  background-color: #f1f1f1;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/components/Tables/tablefive/CompensationIf.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.CompensationIf_services__uh4SL {
  padding: 50px 0;
  width: 100%;
}

.CompensationIf_headerOfBullet___CFTX {
  font-weight: 700;
  font-size: 17px;
  line-height: 32px;
  color: #000000;
  margin: 0;
  cursor: default;
  padding-bottom: 20px;
  padding-left: 15px;
}

.CompensationIf_bulletList__CKUr_ {
  list-style-type: disc;
}
.CompensationIf_bulletList__CKUr_ li {
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  margin: 0;
  cursor: default;
  margin-bottom: 10px;
}

.CompensationIf_table__kYnNk {
  width: 99%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 9px 9px 0 0;
  overflow: hidden;
  text-align: start;
  border: 1px solid #6E7491;
  cursor: default;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.0901960784);
}

.CompensationIf_header__G_FJy {
  background-color: #0d6693;
  color: #ffffff;
  font-weight: bold;
  padding: 15px 23px 20px 8px;
  border: 1px solid #6E7491;
}

.CompensationIf_cell__4UcIk {
  padding: 13px 20px 13px 8px;
  border: 1px solid #6E7491;
  background-color: #ffffff;
  color: #717171;
}

.CompensationIf_cellLast__bdAod {
  padding: 13px 20px 28px 8px;
  border: 1px solid #6E7491;
  background-color: #ffffff;
  color: #717171;
}

.CompensationIf_table__kYnNk tr:hover {
  background-color: #f1f1f1;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/views/OverBookedFlight/CompensationIf/CompensationIf.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.CompensationIf_services__56GKs {
  padding: 50px 0;
  width: 99%;
}

.CompensationIf_TextOfQuestion__oG14f {
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  color: #000000;
  text-align: start;
  margin: 0;
  cursor: default;
  padding-left: 25px;
}

.CompensationIf_headerOfQuestion__JaEDa {
  font-weight: 700;
  font-size: 17px;
  line-height: 32px;
  color: #000000;
  margin: 0;
  cursor: default;
  padding-bottom: 20px;
  padding-left: 25px;
}

.CompensationIf_headerOfBullet__nyuui {
  margin-top: 6px;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  color: #000000;
  cursor: default;
  padding-bottom: 20px;
}

.CompensationIf_bulletList__f4tz9 {
  list-style-type: disc;
}
.CompensationIf_bulletList__f4tz9 li {
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  margin: 0;
  cursor: default;
  margin-bottom: 10px;
}

.CompensationIf_table__3w5C7 {
  width: 99%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 9px 9px 0 0;
  overflow: hidden;
  text-align: start;
  border: 1px solid #6E7491;
  cursor: default;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.0901960784);
}

.CompensationIf_header__Wg3l1 {
  background-color: #0d6693;
  color: #ffffff;
  font-weight: bold;
  padding: 15px 23px 20px 8px;
  border: 1px solid #6E7491;
}

.CompensationIf_cell__HMCKA {
  padding: 13px 20px 13px 8px;
  border: 1px solid #6E7491;
  background-color: #ffffff;
  color: #717171;
}

.CompensationIf_cellLast__fvDWS {
  padding: 13px 20px 28px 8px;
  border: 1px solid #6E7491;
  background-color: #ffffff;
  color: #717171;
}

.CompensationIf_table__3w5C7 tr:hover {
  background-color: #f1f1f1;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/views/OverBookedFlight/CompensationInfo/CompensationInfo.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.CompensationInfo_services__40UwA {
  padding: 50px 0;
  background-color: #F8FAFD;
}

.CompensationInfo_mainDiv__6HtBV {
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.0509803922);
  border-radius: 5px;
}

.CompensationInfo_image__U85J6 {
  width: 459px;
  height: 386px;
  position: relative;
}

.CompensationInfo_header__b7GPA {
  font-weight: 700;
  background-color: #0D6693;
  color: #ffffff;
  padding: 20px;
  margin: 0 0 15px 0;
  border-radius: 9px 9px 0 0;
  text-align: center;
  font-size: 20px;
}

.CompensationInfo_item__wLyaY h4 {
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  margin: 0;
  cursor: default;
}

.CompensationInfo_item__wLyaY p {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #4b4b4b;
  margin: 0;
  cursor: default;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/views/OverBookedFlight/CompensationUSA/CompensationUSA.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.CompensationUSA_services__1UR_d {
  margin-top: 120px;
  width: 99%;
}

.CompensationUSA_headerOfBullet__9gews {
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  color: #000000;
  text-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  cursor: default;
  padding-bottom: 20px;
  padding-left: 15px;
}

.CompensationUSA_table__oMMdO {
  width: 99%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 9px 9px 0 0;
  overflow: hidden;
  text-align: start;
  border: 1px solid #6E7491;
  cursor: default;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.0901960784);
}

.CompensationUSA_header__Ixu3C {
  background-color: #0d6693;
  color: #ffffff;
  font-weight: 600;
  padding: 15px 23px 20px 8px;
  border-top: 1px solid #6E7491;
}

.CompensationUSA_headerLg__rCLT8 {
  background-color: #0d6693;
  color: #ffffff;
  font-weight: 600;
  padding: 15px 23px 20px 8px;
  margin-left: 30px;
  border: 1px solid #6E7491;
}

.CompensationUSA_cell__ac4dC {
  padding: 13px 20px 13px 8px;
  border: 1px solid #6E7491;
  background-color: #ffffff;
  color: #717171;
}

.CompensationUSA_cellLast__MEstp {
  padding: 13px 28px 20px 8px;
  border: 1px solid #6E7491;
  background-color: #ffffff;
  color: #717171;
}

.CompensationUSA_table__oMMdO tr:hover {
  background-color: #f1f1f1;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/components/Tables/tablethree/CompensationHowMuch.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.CompensationHowMuch_services__2zWuo {
  padding: 120px 0;
  width: 100%;
  background-color: #F8FAFD;
}

.CompensationHowMuch_headerOfBullet__kPNCD {
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  color: #000000;
  margin: 0;
  cursor: default;
  padding-bottom: 20px;
  padding-left: 15px;
}

.CompensationHowMuch_table__CCy3s {
  width: 99%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 9px 9px 0 0;
  overflow: hidden;
  text-align: start;
  border: 1px solid #6E7491;
  cursor: default;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.0901960784);
}

.CompensationHowMuch_header__er7jj {
  background-color: #0d6693;
  color: #ffffff;
  font-weight: 600;
  padding: 15px 23px 20px 8px;
  border-top: 1px solid #6E7491;
}

.CompensationHowMuch_headerLg__3Mhhh {
  background-color: #0d6693;
  color: #ffffff;
  font-weight: 600;
  padding: 15px 23px 20px 8px;
  margin-left: 30px;
  border: 1px solid #6E7491;
}

.CompensationHowMuch_cell__z_SgE {
  padding: 13px 20px 13px 8px;
  border: 1px solid #6E7491;
  background-color: #ffffff;
  color: #717171;
}

.CompensationHowMuch_cellLast__1ziFJ {
  padding: 13px 28px 20px 8px;
  border: 1px solid #6E7491;
  background-color: #ffffff;
  color: #717171;
}

.CompensationHowMuch_table__CCy3s tr:hover {
  background-color: #f1f1f1;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/components/Tables/tablefour/CompensationIf.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.CompensationIf_services__RJMQD {
  padding: 50px 0;
  width: 100%;
}

.CompensationIf_headerOfBullet__JhPNi {
  font-weight: 700;
  font-size: 17px;
  line-height: 32px;
  color: #000000;
  margin: 0;
  cursor: default;
  padding-bottom: 20px;
  padding-left: 15px;
}

.CompensationIf_bulletList__Kawg6 {
  list-style-type: disc;
}
.CompensationIf_bulletList__Kawg6 li {
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  margin: 0;
  cursor: default;
  margin-bottom: 10px;
}

.CompensationIf_table__By1xv {
  width: 99%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 9px 9px 0 0;
  overflow: hidden;
  text-align: start;
  border: 1px solid #6E7491;
  cursor: default;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.0901960784);
}

.CompensationIf_header__wXO1W {
  background-color: #0d6693;
  color: #ffffff;
  font-weight: bold;
  padding: 15px 23px 20px 8px;
  border: 1px solid #6E7491;
}

.CompensationIf_cell__R0PNZ {
  padding: 13px 20px 13px 8px;
  border: 1px solid #6E7491;
  background-color: #ffffff;
  color: #717171;
}

.CompensationIf_cellLast__eYgaQ {
  padding: 13px 20px 28px 8px;
  border: 1px solid #6E7491;
  background-color: #ffffff;
  color: #717171;
}

.CompensationIf_table__By1xv tr:hover {
  background-color: #f1f1f1;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/views/OverBookedFlight/OverBooked.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.OverBooked_MainContainer__aDE4V {
  background: #fff;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/views/OverBookedFlight/TableJust/TableJust.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.TableJust_services__3NwRK {
  padding: 50px 0;
  width: 100%;
  background-color: #F8FAFD;
}

.TableJust_table__r1DMp {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 9px 9px 0 0;
  overflow: hidden;
  text-align: start;
  border: 1px solid #6E7491;
  cursor: default;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.0901960784);
}

.TableJust_header__2Rrpi {
  background-color: #0d6693;
  color: #ffffff;
  font-weight: bold;
  padding: 15px 23px 20px 8px;
  border: 1px solid #6E7491;
}

.TableJust_cell__6oQDG {
  padding: 1px 8px 1px 8px;
  border: 1px solid #6E7491;
  background-color: #ffffff;
  color: #717171;
}

.TableJust_cellLast__b_Dt_ {
  padding: 1px 8px 1px 8px;
  border: 1px solid #6E7491;
  background-color: #ffffff;
  color: #717171;
}

.TableJust_table__r1DMp tr:hover {
  background-color: #f1f1f1;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/components/Tables/tableone/CompensationIf.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.CompensationIf_services__Uy8pf {
  padding: 50px 0;
  width: 100%;
}

.CompensationIf_headerOfBullet__Z4PDO {
  font-weight: 700;
  font-size: 17px;
  line-height: 32px;
  color: #000000;
  margin: 0;
  cursor: default;
  padding-bottom: 20px;
  padding-left: 15px;
}

.CompensationIf_bulletList__psJRL {
  list-style-type: disc;
}
.CompensationIf_bulletList__psJRL li {
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  margin: 0;
  cursor: default;
  margin-bottom: 10px;
}

.CompensationIf_table__xCLLH {
  width: 99%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 9px 9px 0 0;
  overflow: hidden;
  text-align: start;
  border: 1px solid #6E7491;
  cursor: default;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.0901960784);
}

.CompensationIf_header__zoyFJ {
  background-color: #0d6693;
  color: #ffffff;
  font-weight: bold;
  padding: 15px 23px 20px 8px;
  border: 1px solid #6E7491;
}

.CompensationIf_cell__whIpE {
  padding: 13px 20px 13px 8px;
  border: 1px solid #6E7491;
  background-color: #ffffff;
  color: #717171;
}

.CompensationIf_cellLast__2UEgD {
  padding: 13px 20px 28px 8px;
  border: 1px solid #6E7491;
  background-color: #ffffff;
  color: #717171;
}

.CompensationIf_table__xCLLH tr:hover {
  background-color: #f1f1f1;
}
