@import url('https://free.bboxtype.com/embedfonts/?family=FiraGO:300,400,500,600,700,900');

body {
  margin: 0;
  font-family: 'FiraGO', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F8FAFD;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}