/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/views/LostLuggage/BeAware/BeAware.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.BeAware_services__o2LqW {
  padding: 50px 0;
  background-color: #F8FAFD;
}

.BeAware_image__jRqWC {
  width: 369px;
  height: 379px;
  position: relative;
}

.BeAware_mainDiv__ayFqv {
  margin-top: 30px;
  width: 100%;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.0509803922);
  border-radius: 5px;
}

.BeAware_header__KY5Ta {
  font-weight: 700;
  background-color: #0D6693;
  color: #ffffff;
  padding: 20px;
  margin: 0 0 15px 0;
  border-radius: 9px 9px 0 0;
  text-align: start;
  font-size: 20px;
}

.BeAware_item__8xPz8 {
  padding: 0px 20px 70px 20px;
}

.BeAware_headerOfBullet__v6BmI {
  margin-top: 50px;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  color: #000000;
  cursor: default;
  padding-bottom: 20px;
}

.BeAware_bulletList__5XGFr {
  list-style-type: disc;
}
.BeAware_bulletList__5XGFr li {
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  margin: 0;
  cursor: default;
  margin-bottom: 10px;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/views/LostLuggage/CompensationIf/CompensationIf.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.CompensationIf_services__wHEEN {
  padding: 50px 0;
  width: 100%;
}

.CompensationIf_TextOfQuestion__sf6VS {
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  color: #000000;
  text-align: start;
  margin: 0;
  cursor: default;
  padding-left: 25px;
}

.CompensationIf_headerOfQuestion__qb_1e {
  font-weight: 700;
  font-size: 17px;
  line-height: 32px;
  color: #000000;
  margin: 0;
  cursor: default;
  padding-bottom: 20px;
  padding-left: 25px;
}

.CompensationIf_headerOfBullet__DFbhV {
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  color: #000000;
  cursor: default;
  padding-bottom: 20px;
}

.CompensationIf_bulletList__CBual {
  list-style-type: disc;
}
.CompensationIf_bulletList__CBual li {
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  margin: 0;
  cursor: default;
  margin-bottom: 10px;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/components/SectionTextAndCover/SectionTextAndCover.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.SectionTextAndCover_cover__RE3RW {
  width: 100%;
  max-height: unset;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 991px) {
  .SectionTextAndCover_cover__RE3RW {
    max-height: 200px;
  }
}
.SectionTextAndCover_cover__img__bH5Aq {
  max-width: 100%;
  max-height: unset;
}
@media (max-width: 991px) {
  .SectionTextAndCover_cover__img__bH5Aq {
    max-height: 200px;
  }
}

.SectionTextAndCover_text__cdFKs {
  width: 100%;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.0509803922);
  border-radius: 5px;
  height: max-content;
}
.SectionTextAndCover_text__title__3DmAg {
  font-weight: 700;
  background-color: #0D6693;
  color: #ffffff;
  padding: 20px;
  margin: 0;
  border-radius: 9px 9px 0 0;
  text-align: center;
  font-size: 20px;
}
.SectionTextAndCover_text__body__u7KJD {
  padding: 20px;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/views/LostLuggage/CompensationInfo/CompensationInfo.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.CompensationInfo_services__inDDV {
  padding: 50px 0;
  background-color: #F8FAFD;
}

.CompensationInfo_mainDiv__F1vnh {
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.0509803922);
  border-radius: 5px;
}

.CompensationInfo_image__N28kv {
  width: 459px;
  height: 386px;
  position: relative;
}

.CompensationInfo_header__nT7Sw {
  font-weight: 700;
  background-color: #0D6693;
  color: #ffffff;
  padding: 20px;
  margin: 0 0 15px 0;
  border-radius: 9px 9px 0 0;
  text-align: center;
  font-size: 20px;
}

.CompensationInfo_item__vl1Qy h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin: 0;
  cursor: default;
}

.CompensationInfo_item__vl1Qy p {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #4b4b4b;
  margin: 0;
  cursor: default;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/views/LostLuggage/LostLuggage.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.LostLuggage_MainContainer__V_pgD {
  background: #fff;
}
