/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/views/FAQ page/Air passenger Law/PassLaw.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.PassLaw_services__header__CtkG7 {
  font-size: 36px;
  font-weight: 600;
  line-height: 22px;
}
.PassLaw_services__answer___vKfV {
  color: #777777;
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
}

.PassLaw_itemContainer__M3_YX {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  flex-direction: row;
  justify-content: flex-start;
}
.PassLaw_itemContainer__M3_YX .PassLaw_toggleButton__JiAde {
  background-color: yellow;
  color: #333;
  border: none;
  font-size: 24px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s ease;
  margin-right: 10px;
}
.PassLaw_itemContainer__M3_YX .PassLaw_question__EjDOr {
  font-size: 18px;
  font-weight: 500;
  color: #232536;
  margin-left: 10px;
  flex-grow: 1;
}

.PassLaw_collapse__GrY2g {
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}
.PassLaw_collapse__GrY2g.PassLaw_collapsed__Kfd_N {
  max-height: 0;
  opacity: 0;
}
.PassLaw_collapse__GrY2g.PassLaw_expanded__CnGQ3 {
  max-height: 500px;
  opacity: 1;
}

.PassLaw_card__CRGdp {
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
}
.PassLaw_card__CRGdp ul {
  list-style: disc;
  margin-left: 20px;
}
.PassLaw_card__CRGdp ul li {
  margin-bottom: 5px;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/views/FAQ page/Documents and privacy/DocPrivacy.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.DocPrivacy_services__header__xWhgc {
  font-size: 36px;
  font-weight: 600;
  line-height: 22px;
}
.DocPrivacy_services__answer__sxq0K {
  color: #777777;
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
}

.DocPrivacy_itemContainer__tpzfn {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  flex-direction: row;
  justify-content: flex-start;
}
.DocPrivacy_itemContainer__tpzfn .DocPrivacy_toggleButton__sr43_ {
  background-color: yellow;
  color: #333;
  border: none;
  font-size: 24px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s ease;
  margin-right: 10px;
}
.DocPrivacy_itemContainer__tpzfn .DocPrivacy_question__q7a3U {
  font-size: 18px;
  font-weight: 500;
  color: #232536;
  margin-left: 10px;
  flex-grow: 1;
}

.DocPrivacy_collapse__ctSEQ {
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}
.DocPrivacy_collapse__ctSEQ.DocPrivacy_collapsed__q1Bul {
  max-height: 0;
  opacity: 0;
}
.DocPrivacy_collapse__ctSEQ.DocPrivacy_expanded__iv2Zl {
  max-height: 500px;
  opacity: 1;
}

.DocPrivacy_card__ww0OA {
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
}
.DocPrivacy_card__ww0OA ul {
  list-style: disc;
  margin-left: 20px;
}
.DocPrivacy_card__ww0OA ul li {
  margin-bottom: 5px;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/views/FAQ page/Fees and payout methods/FeesAndPayout.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.FeesAndPayout_services__header__Xd59y {
  font-size: 36px;
  font-weight: 600;
  line-height: 22px;
}
.FeesAndPayout_services__answer__aCZFE {
  color: #777777;
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
}
.FeesAndPayout_services__image__9a9cO {
  max-width: 500px;
  max-height: 500px;
  position: absolute;
  right: 80px;
  top: 1000px;
}
@media (max-width: 1024px) {
  .FeesAndPayout_services__image__9a9cO {
    display: none;
  }
}

.FeesAndPayout_itemContainer__Pce7I {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  flex-direction: row;
  justify-content: flex-start;
}
.FeesAndPayout_itemContainer__Pce7I .FeesAndPayout_toggleButton__LAmDX {
  background-color: yellow;
  color: #333;
  border: none;
  font-size: 24px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s ease;
  margin-right: 10px;
}
.FeesAndPayout_itemContainer__Pce7I .FeesAndPayout_question__4sbSE {
  font-size: 18px;
  font-weight: 500;
  color: #232536;
  margin-left: 10px;
  flex-grow: 1;
}

.FeesAndPayout_collapse__2DfI5 {
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}
.FeesAndPayout_collapse__2DfI5.FeesAndPayout_collapsed__emidp {
  max-height: 0;
  opacity: 0;
}
.FeesAndPayout_collapse__2DfI5.FeesAndPayout_expanded___cQvD {
  max-height: 500px;
  opacity: 1;
}

.FeesAndPayout_card__cuaSN {
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
}
.FeesAndPayout_card__cuaSN ul {
  list-style: disc;
  margin-left: 20px;
}
.FeesAndPayout_card__cuaSN ul li {
  margin-bottom: 5px;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/views/FAQ page/SubmitClaim/SubmitClaim.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.SubmitClaim_services__header__6h0__ {
  font-size: 36px;
  font-weight: 600;
  line-height: 22px;
}
.SubmitClaim_services__answer__Zv_xO {
  color: #777777;
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
}
.SubmitClaim_services__image__sTkC2 {
  max-width: 500px;
  max-height: 500px;
  position: absolute;
  right: 80px;
  top: 1700px;
}
@media (max-width: 1024px) {
  .SubmitClaim_services__image__sTkC2 {
    display: none;
  }
}

.SubmitClaim_itemContainer__pWrC1 {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  flex-direction: row;
  justify-content: flex-start;
}
.SubmitClaim_itemContainer__pWrC1 .SubmitClaim_toggleButton__QwehU {
  background-color: yellow;
  color: #333;
  border: none;
  font-size: 24px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s ease;
  margin-right: 10px;
}
.SubmitClaim_itemContainer__pWrC1 .SubmitClaim_question__X2df4 {
  font-size: 18px;
  font-weight: 500;
  color: #232536;
  margin-left: 10px;
  flex-grow: 1;
}

.SubmitClaim_collapse__Q6bTG {
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}
.SubmitClaim_collapse__Q6bTG.SubmitClaim_collapsed__gQ9L1 {
  max-height: 0;
  opacity: 0;
}
.SubmitClaim_collapse__Q6bTG.SubmitClaim_expanded__gjh7l {
  max-height: 500px;
  opacity: 1;
}

.SubmitClaim_card__HbU0U {
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
}
.SubmitClaim_card__HbU0U ul {
  list-style: disc;
  margin-left: 20px;
}
.SubmitClaim_card__HbU0U ul li {
  margin-bottom: 5px;
}
