.panel {
  padding-top: 32px;
  width: 100%;
  // background-color: #f5f7fa;
  // background-image: radial-gradient(closest-side at 50% 50%, rgba(0, 255, 216, .2) 0, transparent 100%), radial-gradient(closest-side at 50% 50%, rgba(250, 245, 16, .15) 0, transparent 100%), radial-gradient(closest-side at 50% 50%, rgba(255, 108, 0, .12) 0, transparent 100%);
  // background-position: calc(50% + 324px) calc(50% + 176px), calc(50% - 429px) calc(50% - 190px), calc(50% - 295px) calc(50% + 40px);
  // background-repeat: no-repeat;
  // background-size: 1280px 1280px, 930px 930px, 1338px 1338px;
  background-image: url('./../../assetss/bg.jpeg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 40px 0 40px 0;

  &::before{
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    top: 0;
    display: block;
    background-color: rgba(#fff, .5);
  }
}

.form {
  max-width: 615px;
  width: 100%;
  background-color: #fff;
  margin: auto;
  border-radius: 11px;
  overflow: hidden;
  position: relative;

  &__head {
    display: flex;
    align-items: center;

    &--btn {
      width: 50%;
      padding: 13px;
      font-size: 22px;
      line-height: 44px;
      font-weight: 700;
      color: #fff;
      // background-color: #BBBBBB;
      background-color: #b0b0b0;
      text-align: center;
      cursor: pointer;

      @media (max-width: 991px) {
        padding: 9px;
        font-size: 18px;
      }

      &.active {
        background-color: #00a2ff;
      }
    }
  }

  &__body {
    padding: 37px 32px;

    @media (max-width: 991px) {
      padding: 23px 18px;
    }
  }
}


.formContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  max-width: 100%;
}

.headerForm {
  display: flex;
  justify-content: center;
  gap: 125px;
  margin: 30px;
}

.bgColor {
  background-color: #F8FAFD;
}

.formDiv {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .formContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

.problemSection {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.problemLabel {
  width: 553px;
  height: 161px;
  margin-top: 10px;
}


.problemTextarea::placeholder {
  font-weight: 700;
}

.problemTextarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 250px;
}

.uploadSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.otherDoc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}