.landing {
    display: block;
    height: 100vh;
    display: flex;
    align-items: center;
    background: #fff;

    @media (max-width: 991px){
        align-items: flex-start;
        padding: 20px;
    }

    &__text {
        display: flex;
        height: 100%;
        align-items: center;

        @media (max-width: 991px){
            align-items: flex-start;
        }

        p {
            margin: 0;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;

            @media (max-width: 991px) {
                font-size: 18px;
            }
        }
    }

    &__cover {
        width: 100%;
        margin: 0;

        img {
            width: 100%;
        }
    }
}