/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/views/BlogPageMore/Bad Weather/BadWeather.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.BadWeather_services__cZg5_ {
  padding-top: 60px;
  width: 99%;
}
.BadWeather_services__header__ETSUy {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #232536;
}

.BadWeather_mainDiv__A4MO0 {
  display: flex;
  align-self: center;
  margin-top: 10px;
}
.BadWeather_mainDiv__text__hGx_E {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
  max-width: 920px;
}
.BadWeather_mainDiv__image__bWOsH {
  max-width: 559px;
  width: 100%;
  height: auto;
}
@media (max-width: 919px) {
  .BadWeather_mainDiv__image__bWOsH {
    max-width: 100%;
    width: 100%;
  }
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/views/BlogPageMore/CancelledFlights/CancelledFlights.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.CancelledFlights_services__ULtwR {
  padding-top: 60px;
  width: 99%;
}
.CancelledFlights_services__header__AOx7Y {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #232536;
}

.CancelledFlights_mainDiv__jFdR3 {
  display: flex;
  align-self: center;
  margin-top: 10px;
}
.CancelledFlights_mainDiv__text__JWDNP {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
}
.CancelledFlights_mainDiv__image__lATWO {
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 768px) {
  .CancelledFlights_mainDiv__image__lATWO {
    max-width: 100%;
    width: 100%;
  }
}

.CancelledFlights_button__wuITJ {
  margin-top: 20px;
  background-color: #FD9B28;
  color: white;
  display: flex;
  padding: 4px 25px 4px 25px;
  justify-content: center;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.CancelledFlights_button__wuITJ:hover {
  background-color: #e68921;
}

.CancelledFlights_cardText__7bHda {
  font-size: 11px;
  line-height: 20px;
  color: #6d6e76;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/views/BlogPageMore/Lack of aircraft/LackOfAircraft.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.LackOfAircraft_services__jMX_l {
  padding-top: 60px;
  width: 99%;
}
.LackOfAircraft_services__header___aZGv {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #232536;
}

.LackOfAircraft_mainDiv__iwEsb {
  display: flex;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 150px;
}
.LackOfAircraft_mainDiv__text__xja8R {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
  max-width: 920px;
}
.LackOfAircraft_mainDiv__image__ui6hb {
  max-width: 559px;
  width: 100%;
  height: auto;
}
@media (max-width: 919px) {
  .LackOfAircraft_mainDiv__image__ui6hb {
    max-width: 100%;
    width: 100%;
  }
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/views/BlogPageMore/Lack of passengers/LackOfPassengers.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.LackOfPassengers_services__7tprr {
  padding-top: 60px;
  width: 99%;
}
.LackOfPassengers_services__header__h4qvB {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #232536;
}

.LackOfPassengers_mainDiv__ctxhD {
  display: flex;
  align-self: center;
  margin-top: 10px;
}
.LackOfPassengers_mainDiv__text__STnjb {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
  max-width: 920px;
}
.LackOfPassengers_mainDiv__image__VBT_7 {
  max-width: 559px;
  width: 100%;
  height: auto;
}
@media (max-width: 919px) {
  .LackOfPassengers_mainDiv__image__VBT_7 {
    max-width: 100%;
    width: 100%;
  }
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/views/BlogPageMore/Mechanical Issues/MechanicalIssues.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.MechanicalIssues_services__XB_G_ {
  padding-top: 60px;
  width: 99%;
}
.MechanicalIssues_services__header__pWM6J {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #232536;
}

.MechanicalIssues_mainDiv__UdEey {
  display: flex;
  align-self: center;
  margin-top: 10px;
}
.MechanicalIssues_mainDiv__text__Vz5y3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6d6e76;
  max-width: 920px;
}
.MechanicalIssues_mainDiv__image__2S0R6 {
  max-width: 559px;
  width: 100%;
  height: auto;
}
@media (max-width: 919px) {
  .MechanicalIssues_mainDiv__image__2S0R6 {
    max-width: 100%;
    width: 100%;
  }
}
